[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pyfakefs = {editable = true,git = "https://github.com/mlouielu/pyfakefs",ref = "add_next_to_fakefilewrapper"}

[requires]
python_version = "3.7"
